.get-started {
  position: relative;
  top: 180px;
  width: 88%;
  padding: 70px 0;
  background-color: #fafafa;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  padding-left: calc((100% - 1140px) / 2);
  padding-right: 15px;
}

.get-started__title {
  margin-bottom: 50px;
  max-width: 822px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  color: #4d533c;
}

.get-started-link {
  text-transform: uppercase;
}

@media (max-width: 913px) {
  .get-started {
    position: static;
    width: 100%;
  }

  .get-started__title {
    font-size: 50px;
    line-height: 65px;
  }
}

@media (max-width: 700px) {
  .get-started__title {
    font-size: 40px;
    line-height: 45px;
  }
}

@media (max-width: 500px) {
  .get-started__title {
    font-size: 30px;
    line-height: 35px;
  }
}
